/* font link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* Bold 700 */



/* commands of header-nav */
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 38px 0px ;}
/* this is commands for mayem.cv */
.header-nav .mayemcv{  color: rgb(13, 19, 33);
                        font-family: Azeret Mono;
                        font-size: 25px;
                        font-weight: 800;
                        margin: 0px 150px; }
/* commands for download resume button */
.header-nav .d-resume-btn{justify-content: center;
                        align-items: center;
                        padding: 17px 24px 17px 24px;
                        width: 228px;
                        height: 58px;
                        box-sizing: border-box;
                        border: 1px solid rgb(13, 19, 33);
                        border-radius: 8px;
                        opacity: 0.8;
                    }

                        
 


/* Commands of first section */

.first-section{
                background-image: url(./assets/Hero-bg.png);
                gap: 32px;
                justify-content: center;
                text-align: center;
                width: 1440px;
                height: 652px;
                margin-top:35px;
                
}
 /* commands for h1 in the first section                                     */
.first-section .bighead{color: rgb(13, 19, 33);
                        font-family: Azeret Mono;
                        font-size: 48px;
                        font-weight: 800;
                        line-height: 68px;
                        margin-top:32px;
                        }

.first-section .description{ color: rgb(13, 19, 33);
                            font-family: Azeret Mono;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            margin-top:24px
                            }

.first-section .contact-btn{ padding: 21px 24px 21px 24px;
                                border-radius: 8px;
                                color: rgb(255, 255, 255);
                                font-family: Azeret Mono;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 23px;
                                letter-spacing: 0%;
                                text-align: center;
                                 background: rgb(13, 19, 33);
                                 margin-top:32px}
