/* font link */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* Bold 700 */

*{margin: 0%;}


/* commands of header-nav */
.header-nav{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 0px ;}
/* this is commands for mayem.cv */
.header-nav .mayemcv{  color: rgb(13, 19, 33);
                        font-family: Azeret Mono;
                        font-size: 25px;
                        font-weight: 800;
                        margin: 0px 100px; }
/* commands for download resume button */
.header-nav .d-resume-btn{justify-content: center;
                        align-items: center;
                        padding: 17px 24px 17px 24px;
                        width: 220px;
                        height: 50px;
                        box-sizing: border-box;
                        border: 1px solid rgb(13, 19, 33);
                        border-radius: 10px;
                        opacity: 0.8;

                    }

                        
 


/* Commands of first section */
.first-section{
                background-image: url("./assets/Hero-bg.png");
                gap: 32px;
                justify-content: center;
                text-align: center;
                width: auto;
                height: 643px;
                margin-top:25px;
                
}
 /* commands for h1 in the first section                                     */
.first-section .bighead{color: rgb(13, 19, 33);
                        font-family: Azeret Mono;
                        font-size: 48px;
                        font-weight: 800;
                        line-height: 68px;
                        margin-top:32px;
                        }

.first-section .description{ color: rgb(13, 19, 33);
                            font-family: Azeret Mono;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            margin-top:24px
                            }

.first-section .contact-btn{ padding: 21px 24px 21px 24px;
                                border-radius: 8px;
                                color: rgb(255, 255, 255);
                                font-family: Azeret Mono;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 23px;
                                letter-spacing: 0%;
                                text-align: center;
                                 background: rgb(13, 19, 33);
                                 margin-top:32px}




/* Commands of second section */

/* whole second section container div */

.second-section{width: auto;
                border-radius: 16px;
                background: rgba(13, 19, 33, 0.02);}
.second-section .mota-div{
                            border-radius: 16px;
                            background: rgba(13, 19, 33, 0.02);
                            padding: 80px 97px 80px 97px;

                            
}

.second-section .mota-heading{ text-align: center;
                                color: rgb(13, 19, 33);
                                font-family: Azeret Mono;
                                font-size: 32px;
                                font-weight: 800;
                                line-height: 37px;
                                border-radius: 16px;
                                background: rgba(13, 19, 33, 0.02);
                            }


.second-section .mota-p{
                            color: rgb(13, 19, 33);
                            font-family: Azeret Mono;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px;
                            text-align: center;
                            opacity: 0.7;
                            border-radius: 16px;
                            background: rgba(13, 19, 33, 0.02);
                        }
/* commands for all inner contains */



.mota-div .inner-mota1{  display: flex;
                        justify-content: space-between;
                        margin: 32px 0px;
                        padding: 48px;
                        border-radius: 16px;
                        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); }


ul> li{
    list-style: none;
}

.div-contain1-h{ color: rgba(13, 19, 33, 0.7);
                            font-family: Azeret Mono;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 36px;
                            text-align: left;}

.div-contain1-p{color: rgb(13, 19, 33);
                font-family: Azeret Mono;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: left;
                opacity: 0.7;
}
.mota-div .inner-mota2{  display: flex;
                        justify-content: space-between;
                        margin: 32px 0px;
                        padding: 48px;
                        border-radius: 16px;
                        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); }
                        
.div-contain2-h{ color: rgba(13, 19, 33, 0.7);
                font-family: Azeret Mono;
                font-size: 24px;
                font-weight: 700;
                line-height: 36px;
                text-align:left;}
.div-contain2-p{    color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0%;
                    text-align:left;
                    opacity: 0.7;}


.mota-div .inner-mota3{  display: flex;
                        justify-content: space-between;
                        margin: 32px 0px;
                        padding: 48px;
                        border-radius: 16px;
                        background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%); }
                        
.div-contain3-h{ color: rgba(13, 19, 33, 0.7);
                 font-family: Azeret Mono;
                 font-size: 24px;
                 font-weight: 700;
                 line-height: 36px;
                 text-align: left;}
.div-contain3-p{color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    letter-spacing: 0%;
                    text-align: left;
                    opacity: 0.7;}

.mota-btn{  font-family: Azeret Mono;
            display: flex;
            box-sizing: border-box;
            border: 1px solid rgb(13, 19, 33);
            opacity: 0.7;
            opacity: 0.7;
            padding: 12px 20px 12px 20px;
            margin: 0px 10px;
          

          
    }
.div-contain2-b{
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;}


/* whole third section container div */


.third-section{
   margin-top: 88px;
   padding: 20px;
}

.easy-hp .bg-hp{
    text-align: center;
}



.easy-vdo{ box-sizing: border-box;
            border: 1px solid rgba(13, 19, 33, 0.2);
            border-radius: 16px;
            display: flex;
            justify-content: center;
            align-items:center;
            padding: 20px;
            border: 0px 20px;
            margin-bottom: 180px;
            
                   
  
}

.third-section-h{
             color: rgb(13, 19, 33);
            font-family: Azeret Mono;
            font-size: 32px;
            font-weight: 800;
            line-height: 37px;
            text-align: center;
            margin-bottom: 48px

            
}

.third-section-P{color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
        opacity: 0.7;
        margin-bottom: 24px
}


.anchor{ margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;}


.bg-container{
        display: flex;
        flex: auto;
        justify-content: space-between;
        justify-content: flex-start;
        align-items: center;
        padding: 0px; }



.bg-container1{ border-radius: 16px;
                background: rgba(255, 76, 30, 0.05);
                padding: 40px;
                margin: 0px 15px;
                width: 364px;
                height: 300px;}


.bg-container2{ border-radius: 16px;
                background: rgba(0, 76, 232, 0.05);
                padding: 40px;
                margin: 0px 15px;
                width: 364px;
                height: 300px;}

.bg-container3{ border-radius: 16px;
                background: rgba(255, 223, 0, 0.05);
                padding: 40px;
                margin: 0px 15px;
                width: 364px;
                height: 300px;}

.easy-vdo-ctrl{
    border: 1px solid white;
    border-radius: 16px;
}

.bg-container-head{color: rgb(13, 19, 33);
                    font-family: Azeret Mono;
                    font-size: 24px;
                    font-weight: 800;
                    line-height: 36px;
                    letter-spacing: 0%;
                    text-align: left;}

.bg-container-p{color: rgb(13, 19, 33);
                font-family: Azeret Mono;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: left;
                opacity: 0.7;


}


/* codes for fourth section */

.form{
    align-items: center;
}
.fourth-section{
                background-image: url(./assets/img.jpg)
                ;
                    position: absolute;
                    width:1100px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 64px 48px 64px 48px;
                    border-radius: 16px;
                    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
                    margin: 50px 0px 180px 20px;
                    
}
.fourth-h{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}
.fourth-p{  color: rgb(255, 255, 255);
            font-family: Azeret Mono;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: 0%;
            text-align: center;

        }
.box{   box-sizing: border-box;
        border: 1px solid rgba(13, 19, 33, 0.15);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        width: 548px;
        margin: 0px 16px;
        height: 57px;
        text-align: center;
        opacity: 0.7;
        padding: 19px 20px 19px 20px;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-left: 200px;
    }

.submit{    border-radius: 8px;
            background: rgb(255, 255, 255);
            width: 120px;
            height: 58px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 17px 20px 17px 20px;
            }
.footer{
        margin: 400px 0px 50px 40px;
        display:flex;
        border-radius: 16px;
        background: rgba(13, 19, 33, 0.03);
        }

.footer-h{color: rgb(13, 19, 33);
        font-family: Azeret Mono;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;}

.icon{      display:flex;
            justify-content:space-between;
             margin-left:500px ;}
.footer-icon1{ margin-right: 15px;}
.footer-icon2{ margin-right:15px ;}